@import url("https://fonts.googleapis.com/css2?family=Monda:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

.font-Montserrat {
  font-family: "Poppins", Courier, monospace;
}
.font-Poppins {
  font-family: "Poppins", monospace;
}
.bg-her-service {
  background-image: url("/Images/Services/Gifs/Service-bg.gif");
}
.bg-para {
  background-image: url("/Images/OurClients/Webp/Para-bg.webp");
}
.bg-enough-talks {
  background-image: url("/Images/About-Us/Webp/Call-to-action-bg.webp");
}
.bg-our-clients {
  background-image: url("/Images/OurClients/Webp/Our-client-bg.webp");
}
.bg-hero {
  background-image: url("/Images/Home/Webp/Hero-bg.webp");
}
.bg-error {
  background-image: url("/Images/Error/Webp/Error-bg.webp");
}
.shadow-card-vision {
  box-shadow: 0 2px 21px 0 rgb(100, 204, 197);
  transition: box-shadow 0.3s ease;
}
.shadow-card-vision:hover {
  box-shadow: 0 15px 60px 0 rgb(100, 204, 197);
}
.shadow-contact-form {
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.3);
}
