@import "tailwindcss";

body {
  font-family: var(--font-poppins), sans-serif;
}

.bg-her-service {
  background-image: url("/Images/Services/Gifs/Service-bg.gif");
}
.bg-para {
  background-image: url("/Images/OurClients/Webp/Para-bg.webp");
}
.bg-enough-talks {
  background-image: url("/Images/About-Us/Webp/Call-to-action-bg.webp");
}
.bg-our-clients {
  background-image: url("/Images/OurClients/Webp/Our-client-bg.webp");
}
.bg-hero {
  background-image: url("/Images/Home/Webp/Hero-bg.webp");
}
.bg-error {
  background-image: url("/Images/Error/Webp/Error-bg.webp");
}
.shadow-card-vision {
  box-shadow: 0 2px 21px 0 rgb(100, 204, 197);
  transition: box-shadow 0.3s ease;
}
.shadow-card-vision:hover {
  box-shadow: 0 15px 60px 0 rgb(100, 204, 197);
}
.shadow-contact-form {
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.3);
}
